<template>
  <require from="resources/value-converters/date"></require>
  <require from="resources/value-converters/amount-with-currency"></require>

  <md-collection class="fixed_350_card">
    <md-collection-header><h5>Ostatnie operacje</h5></md-collection-header>
    <md-collection-item repeat.for="operation of history.data" class="accent-text">
      ${operation.to_account.first_name} ${operation.to_account.last_name} <small>(${operation.date | date})</small>
      <div class="secondary-content">
        ${operation.amount | amountWithCurrency}
      </div>
    </md-collection-item>
  </md-collection>
</template>
