<template>
  <require from="resources/elements/layout/layout.html"></require>
  <require from="resources/value-converters/account-number"></require>
  <require from="resources/value-converters/amount-with-currency"></require>

  <require from="./history/history"></require>
  <require from="./quick-transfer/quick-transfer"></require>
  <require from="./accounts-list/accounts-list"></require>

  <layout>
    <div class="row">
      <accounts-list class="col s12"></accounts-list>
    </div>
    <div class="row">
      <history class="col s12 m6"></history>
      <quick-transfer class="col s12 m6 l6"></quick-transfer>
    </div>
  </layout>
</template>
