<template>
  <require from="resources/elements/layout/container-layout.html"></require>
  <require from="resources/value-converters/amount-with-currency"></require>
  <require from="resources/value-converters/account-number"></require>

  <container-layout>
    <div class="row">
      <div class="col s12">
        <h5>Nowy przelew - podsumowanie</h5>

        <div class="text-block">
          <span><strong>Z konta:</strong> ${account.account_name}</span>
          <br>
          <span><strong>Numer rachunku:</strong> ${account.account_number | accountNumber}</span>
        </div>
        <div class="text-block">
          <span><strong>Odbiorca:</strong> ${transfer.data.to_account | accountNumber}</span>
        </div>
        <div class="text-block">
          <span><strong>Tytuł:</strong> ${transfer.data.title}</span>
        </div>
        <div class="text-block">
          <span><strong>Kwota:</strong> ${transfer.data.amount | amountWithCurrency:false}</span>
        </div>
        <div class="text-block">
          <button md-button="flat: true;"  click.trigger="abort()"><i class="left material-icons">arrow_back</i>Anuluj</button>
          <button md-button="flat: true;"  click.trigger="change()"><i class="left material-icons">chevron_left</i>Zmień dane</button>
          <button md-button class="primary" click.trigger="submit()"><i class="left material-icons">done</i>OK</button>
        </div>
      </div>
    </div>
  </container-layout>
<template>
