<template>
  <require from="resources/elements/layout/container-layout.html"></require>
  <require from="resources/value-converters/amount-with-currency"></require>
  <require from="resources/value-converters/account-number"></require>

  <container-layout>
    <div class="row">
      <div class="col s12">
        <h5>Nowy przelew</h5>

        <div class="card-panel">
          <form submit.delegate="submit()">
            <select md-select="label: Z konta" value.two-way="form.from_account">
              <option repeat.for="account of accounts.data" value.bind="account.account_number">
                ${account.account_name} (${account.current_amount | amountWithCurrency})
              </option>
            </select>
            <md-input
              md-label="Numer konta"
              md-value.bind="form.to_account | accountNumber & validate:rules"
              md-validate="true"
            ></md-input>

            <md-input
              md-type="number"
              md-step="any"
              md-label="Kwota"
              md-value.bind="form.amount & validate:rules"
              md-validate="true"
            ></md-input>

            <md-input
              md-label="Tytuł"
              md-value.bind="form.title & validate:rules"
              md-validate="true"
            ></md-input>

            <div class="text-block">
              <button md-button="large: true;" md-waves>
                <i class="right material-icons">chevron_right</i>
                Podsumowanie
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </container-layout>
<template>
