<template>
  <md-card class="fixed_350_card">
    <h5>Szybki przelew</h5>
    <select md-select="label: Wybierz odbiorcę" value.two-way="recipient">
      <option repeat.for="recipient of trustedRecipients" value="${recipient.value}">${recipient.name}</option>
    </select>
    <md-input class="tight" md-type="number" md-step="any" md-label="Kwota" md-validate="true" md-validate-error="Niepoprawna kwota" md-value.bind="amount"></md-input><br />
    <md-input class="tight" md-label="Tytuł" md-value.bind="title"></md-input>
    <div style="margin-top: 15px;">
      <a md-button="flat: true;" md-waves click.trigger="setSelectedValue()" class="accent-text">Wykonaj</a>
    </div>
  </md-card>
</template>
