<template>
  <require from="resources/elements/layout/container-layout.html"></require>
  <require from="resources/value-converters/amount-with-currency"></require>
  <require from="resources/value-converters/datetime"></require>

  <container-layout>
    <div class="row">
      <div class="col s12">
        <h5>Historia</h5>
        <div class="card-panel">
          <table class="highlight stripped">
            <thead>
              <tr>
                <th>Data operacji</th>
                <th>Odbiorca</th>
                <th>Kwota</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr repeat.for="operation of history.data">
                <td>${operation.date | datetime}</td>
                <td>${operation.to_account.first_name} ${operation.to_account.last_name}</td>
                <td>${operation.amount | amountWithCurrency}</td>
                <td>
                  <a md-button="flat: true;" class="accent-text" route-href="route: history:details; params.bind: {id: operation.id}">
                    <i class="left material-icons">subject</i>
                    Szczegóły
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </container-layout>
<template>
