<template>

  <md-navbar>
    <a class="left hide-on-large-only" style="cursor: pointer; padding: 0 10px;" md-sidenav-collapse="ref.bind: sideNav;">
      <i class="material-icons">menu</i>
    </a>

    <a route-href="route: dashboard" class="brand-logo"><span>Bank.pl</span></a>
    <ul class="right">
      <li>
        <a md-dropdown="activates: dropdown1">
          ${auth.data.first_name}<i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </md-navbar>
  <ul id="dropdown1" class="dropdown-content">
    <li><a route-href="route: settings">Ustawienia</a></li>
    <li class="divider"></li>
    <li><a click.delegate="logout()">Wyloguj się</a></li>
  </ul>

  <md-sidenav view-model.ref="sideNav" md-fixed="true" md-close-on-click="true">
    <ul>
      <li>
        <div class="userView">
          <div class="background">
            <img src="/images/grass.jpg">
          </div>
          <img class="circle" src="/images/avatar.jpg">
          <span class="white-text name">${auth.data.first_name} ${auth.data.last_name}</span>
        </div>
      </li>
      <li md-waves>
        <a route-href="route: dashboard">
          <i class="material-icons">home</i>
          Pulpit
        </a>
      </li>
      <li md-waves>
        <a route-href="route: transfer">
          <i class="material-icons">swap_horiz</i>
          Nowy Przelew
        </a>
      </li>
      <li md-waves>
        <a route-href="route: history">
          <i class="material-icons">history</i>
          Historia
        </a>
      </li>
    </ul>
  </md-sidenav>

</template>
