<template>
  <require from="resources/elements/layout/container-layout.html"></require>
  <require from="resources/value-converters/account-number"></require>
  <require from="resources/value-converters/account-title"></require>
  <require from="resources/value-converters/datetime"></require>
  <require from="resources/value-converters/amount-with-currency"></require>

  <container-layout>
    <div class="row">
      <div class="col s12">
        <h5 if.bind="transfer.title">Historia - szczegóły przelewu "${transfer.title}"</h5>
        <h5 if.bind="!transfer.title">Historia - szczegóły przelewu</h5>

        <div class="card-panel">
          <div class="text-block">
            <span><strong>Nadawca:</strong> ${transfer.from_account | accountTitle}</span>
            <br>
            <span><strong>Numer rachunku:</strong> ${transfer.from_account.account_number | accountNumber}</span>
          </div>
          <div class="text-block">
            <span><strong>Odbiorca:</strong> ${transfer.to_account | accountTitle}</span>
            <br>
            <span><strong>Numer rachunku:</strong> ${transfer.to_account.account_number | accountNumber}</span>
          </div>
          <div class="text-block">
            <span><strong>Tytuł:</strong> ${transfer.title}</span>
          </div>
          <div class="text-block">
            <span><strong>Data operacji:</strong> ${transfer.date | datetime}</span>
            <br>
            <span><strong>Kwota:</strong> ${transfer.amount | amountWithCurrency}</span>
          </div>
          <div class="text-block">
            <a md-button route-href="route: history" class="primary"><i class="left material-icons">chevron_left</i>Powrót</a>
          </div>
        </div>
      </div>
    </div>
  </container-layout>
<template>
