<template>
  <div class="row auth-row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="row">
        <div class="col s12">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>
