md-sidenav ul {
    margin-top: 0px;
}

nav {
  background-color: #03a9f4;
}

.btn, .btn-large {
  background-color: #00bcd4;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

nav .brand-logo {
  padding-left: 20px;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    padding-left: 0;
  }
}

.tight input {
  margin: 0;
}

.tight .input-field {
  margin-top: 0;
}

.fixed_350_card .collection,
.fixed_350_card .card {
  height: 350px;
}

.fixed_60_card .collection,
.fixed_60_card .card {
  height: 60px;
}

.text-block:not(:first-child) {
  margin-top: 20px;
}

h5 {
  margin: 20px 0;
  text-transform: uppercase;
}

.md-input-validation-position-fix > .md-input-validation {
  margin-top: 0;
}

.auth-row {
  margin-top: 100px;
}

.side-nav .userView {
  padding-bottom: 20px;
}
