<template>
  <require from="styles/main.css"></require>

  <require from="resources/elements/layout/auth-layout.html"></require>

  <auth-layout>
    <h5>Zaloguj się</h5>
    <div class="card-panel">
      <form role="form" submit.delegate="submit()">
        <md-input
          md-label="ID konta"
          md-value.bind="form.accountId & validate:rules"
          md-validate="true"
        ></md-input>

        <md-input
          md-type="password"
          md-label="Hasło"
          md-value.bind="form.password & validate:rules"
          md-validate="true"
        ></md-input>

        <div class="text-block">
          <button md-button="large: true;" md-waves>
            <i class="right material-icons">arrow_forward</i>
            Start
          </button>
        </div>

      </form>
    </div>
  </auth-layout>
</template>
