<template>
  <require from="resources/value-converters/account-number"></require>
  <require from="resources/value-converters/amount-with-currency"></require>

  <div repeat.for="account of accounts.data" class="card-panel" style="height: 60px;">
    <div class="left"><strong>Konto ${account.account_name}:</strong> ${account.account_number | accountNumber}</div>
    <div class="right"><strong>Dostępne środki:</strong> ${account.current_amount | amountWithCurrency}</div>
  </div>
</template>
